
<h1 class="d-flex justify-content-center">Admin Dashboard</h1>
<table class="table table-striped ">
    <thead>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody >
    <%@users.each do |u| %>
    <tr>
        <td><%= u.email %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(u) , class:"btn btn-success" %></td>
        <td><%= button_to 'Delete', user_path(u) , method: :delete , class:"btn btn-danger" %></td>
    </tr>
    <% end %>
    </tbody>
</table>    