
body {
    /* width: 100vw; */
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background-image: url("https://images.unsplash.com/photo-1581390114939-946f9a890a7f?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("bg.jpg"); */
    background-image: url("https://plus.unsplash.com/premium_photo-1682310426558-2bb178b0df47?q=80&w=2112&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
