<div class="container-fluid bg-light">
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        <div class="fix-height-div">
            <div class="top-section-container">
            <div class="movie-details-container">
                <div class="text-details">
                <meta itemprop="name" content="Ruslaan - Hindi">
                <h1>
                    <div class="cinema-name-wrapper">
                    <meta content="https://in.bookmyshow.com/buytickets/-ahmedabad/movie-ahd-ET00343222" itemprop="url">
                    <a href="/ahmedabad/movies/ruslaan/ET00343222" class="">
                        Ruslaan - Hindi
                    </a>
                    </div>
                </h1>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>




















  
</div>
          